.header-desktop{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;       
    margin-left: 250px;
    
}

.apostilas-content-desktop {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap; 
    margin-bottom: 60px;
}




.menu {
    display: block;

    background-color: #000;
    height: 100px;
    color: #fff;
}

.select-apostila-desktop{
    text-align: center;
    font-size: 1.2em;
    padding: 7px;    
    color: #fff;
}

.apostilas-desktop {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.2em;
    justify-content: center;
}

.apostilas-desktop li {
    margin: 5px;
}

.nav-header-desktop {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.nav-header-desktop li {
    cursor: pointer;  
    font-size: 0.8em;
    padding-bottom: 8px;
}

.nav-header-desktop li:hover{
    color: #fff;      
    border-bottom: 2px solid #28aaca;
}
